Source: kdepimlibs
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fboudra@free.fr>, Armin Berres <trigger+debian@space-based.de>
Build-Depends: cdbs, debhelper (>= 5), quilt, cmake, kdelibs5-dev (>= 4:3.97.0-1),
 libboost-dev, libgpgme11-dev, libldap2-dev, libsasl2-dev
Standards-Version: 3.7.3

Package: kdepimlibs5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, kdepimlibs-data (>= ${binary:Version})
Description: core libraries for KDE PIM 4 applications
 This package contains all the shared libraries used by KDE PIM applications.
 You need these libraries and binaries to run KDE applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdepimlibs' packages for more information.

Package: kdepimlibs-data
Section: libs
Architecture: all
Description: core shared data for KDE PIM 4 applications
 This package contains all the architecture independent data files commonly
 used by KDE PIM applications. You need these data files to run KDE
 applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdepimlibs' packages for more information.

Package: kdepimlibs5-dev
Section: libdevel
Architecture: any
Depends: kdepimlibs5 (= ${binary:Version}), kdelibs5-dev (>= 4:3.97.0-1),
 libboost-dev, libgpgme11-dev, libldap2-dev, libsasl2-dev
Conflicts: libkleopatra1-dev
Description: development files for the KDE PIM 4 core libraries
 This package contains all the headers and other related files needed
 to compile KDE PIM applications, or develop applications which use the core
 KDE PIM libraries.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdepimlibs' packages for more information.

Package: kdepimlibs-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdepimlibs5 (= ${binary:Version}), kdelibs-dbg (>=${source:Version}), libc6-dbg [amd64]
Description: debugging symbols for kdepimlibs
 This package contains the debugging symbols associated with kdepimlibs.
 They will automatically be used by gdb for debugging kdepimlibs-related
 issues.
