Source: kdepimlibs
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdelibs4-dev (>=4:3.90.1),
 libboost-dev, libsasl2-dev, libldap2-dev,
 libstreams-dev (>=0.5.1), libstreamanalyzer-dev (>=0.5.1),
 libbz2-dev,
 libfam-dev,
Standards-Version: 3.7.2

Package: kdepimlibs
Section: libs
Architecture: all
Depends: ${shlibs:Depends}, kdepimlibs5 (>= ${Source-Version}), kdepimlibs-data (>= ${Source-Version}), kdepimlibs-bin (>= ${Source-Version})
Description: core libraries from the official KDE PIM 4 alpha release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes the core KDE PIM libraries, binaries, and data,
 needed by virtually all KDE applications. It does not include
 development files.

Package: kdepimlibs4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, kdelibs5, kdepimlibs-data
Description: core libraries for KDE PIM 4 alpha applications
 This package contains all the shared libraries used by KDE PIM 
 applications. You need these libraries and binaries to run KDE 
 applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdepimlibs' packages for more information.

Package: kdepimlibs-data
Section: libs
Architecture: all
Description: core shared data for KDE PIM 4 alpha applications
 This package contains all the architecture independent data files
 commonly used by KDE PIM applications. You need these data files to run
 KDE applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdepimlibs' packages for more information.

Package: kdepimlibs4-dev
Section: libdevel
Architecture: any
Depends: kdepimlibs4 (= ${Source-Version}), kdelibs4-dev
Description: development files for the KDE PIM 4 alpha core libraries
 This package contains all the headers and other related files needed
 to compile KDE PIM applications, or develop applications which use the
 core KDE PIM libraries.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdepimlibs' packages for more information.

