#!/usr/bin/make -f

UPSTREAMVERSION := 4:4.0.74

DEB_DH_MAKESHLIBS_ARGS_kdepimlibs5 := -V'kdepimlibs5 (>= $(UPSTREAMVERSION))'

# get rid of the dependency on kdebase-runtime
DEB_DH_SHLIBDEPS_ARGS_ALL:=-- -xkdebase-runtime

include debian/cdbs/kde.mk
